///////////// COLORS
$white: #ffffff;
$black: #000000;
$gray-dark: #4a4a4a;
$gray-dark2: #404040;
$gray-dark3: #262626;
$gray-med: #9b9b9b;
$gray-light: #ccc;
$black: #263238;

$status-success: #5b9f0c;
$status-error: #d0021b;
$status-warning: #f5a623;

$primary-color: rgb(31, 31, 31);
$secondary-color: rgb(0, 0, 71);

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);

///////////// FONTS
$primary-font: 'Open Sans', sans-serif;
// Font size
$fs-36: 36px;
$fs-32: 32px;
$fs-28: 28px;
$fs-26: 26px;
$fs-24: 24px;
$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
// Font color
$fc-1: $black;
$fc-2: $gray-dark3;
// Font weight
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-900: 900;
